:80 {
	# A stand-in Verifier with preset, static responses.

	root * /srv

	@description path /description
	handle @description {
		header Content-Type application/json
		rewrite * /description.json
		file_server
	}

	handle {
		respond 404
	}
}
